{% macro insert_var(var) -%}{#- Formats a variable for inserting it into PHP -#}
	{%- if var | type == "bool" -%}
		{#- bool -#}
		{{ var | bool | lower }}
	{%- elif var | type == "list" -%}
		{#- list -#}
		[ {% for item in var %}{{ insert_var(item) }}, {# Note: trailing commas in lists are legal #}{% endfor %} ]
	{%- elif var | type == "dict" -%}
		{#- dict -#}
		[ {% for k,v in var.items() %}'{{ k }}' => {{ insert_var(v) }}, {# Note: trailing commas in dicts are legal #}{% endfor %} ]
	{%- elif var | type == "unicode" or var | type == "AnsibleUnsafeText" or var | type == "str" -%}
		'{{ var }}'
	{%- else -%}
		{# number or unhandled case -> write verbatim -#}
		{{ var }}
	{%- endif -%}
{%- endmacro -%}
<?php

// {{ ansible_managed }}

return [
    // MySQL-Connection Settings
    'database'                => [
        'host'     => env('MYSQL_HOST', '{{ engelsystem_mysql_host }}'),
        'username' => env('MYSQL_USER', '{{ engelsystem_mysql_user }}'),
        'password' => env('MYSQL_PASSWORD', '{{ engelsystem_mysql_password }}'),
        'database' => env('MYSQL_DATABASE', '{{ engelsystem_mysql_database }}'),
    ],

    {% for key, value in engelsystem_config.items() %}
    '{{ key }}' => {{ insert_var(value) }},
    {% endfor %}
];

