<?php

// {{ ansible_managed }}

return [
    // MySQL-Connection Settings
    'database'                => [
        'host'     => env('MYSQL_HOST', '{{ engelsystem_mysql_host }}'),
        'username' => env('MYSQL_USER', '{{ engelsystem_mysql_user }}'),
        'password' => env('MYSQL_PASSWORD', '{{ engelsystem_mysql_password }}'),
        'database' => env('MYSQL_DATABASE', '{{ engelsystem_mysql_database }}'),
    ],

    {% for k, v in engelsystem_config.items() %}
    '{{ k }}' => {{ v }},
    {% endfor %}
];

